<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>https://stg-api.pedidosya.com/public/v1/</string>
	<key>clientId</key>
	<string>trivia_f</string>
	<key>clientSecret</key>
	<string>PeY@@Tr1v1@943</string>
</dict>
</plist>
